$primary-color: #351d5c;
$secondary-color: #c4d7e4;
$terciary-color: #b186ff;
$text-color: #868a8f;
$link-button-color: #61dafb;
$link-color: #44b3d1;
$div-gray: #dcdcdc;
$bootstrap-gray: #6c757d;


$white: #FFFFFF;
$black: #000000;