@import 'styles/base.scss';

.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  margin: 2rem;
  border-radius: 0.5rem;
  background-color: #f4f4f4;

  &__content {
    padding: 1rem 4rem;

    h1 {
      color: $primary-color;
    }

    a {
      color: $link-color;

      &:hover {
        color: $primary-color;
      }
    }

    header {
      a {
        color: $bootstrap-gray;
      }
    }

    button {
      background: $primary-color;
      border: none;
      border-radius: 1.5rem;
      padding: 0.4rem 2rem;
      min-width: 20vw;
      color: $link-button-color;

      a {
        color: $link-button-color;
      }

      &:hover:enabled {
        background: $secondary-color;
        color: $primary-color;

        a {
          color: $primary-color;
        }
      }

      &:disabled {
        opacity: 0.3;
      }
    }
  }
  
}

